@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Editar</h1>

@{

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre Item</th>
				<th>Precio</th>
				<th>Estado</th>
				<th>Acciones</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var pedido in (IEnumerable<dynamic>)ViewData["listadetalle2"])
			{
				<tr>
					<td>@pedido.DetalleId</td>
					<td>@pedido.Nombre</td>
					<td>@pedido.Precio</td>
					<td>@pedido.Estado</td>
					<td>
						<a asp-action="Indexdetalle" asp-route-id="@pedido.DetalleId">Editar comentario</a>
					</td>
					<td><img src="" alt="Img @pedido.Nombre" /></td>
					<td>
						<form asp-action="Delete" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este pedido?');">
							<input type="hidden" name="id" value="@pedido.DetalleId" />
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form>
					</td>
				</tr>

			}
	</table>
}