@{
    ViewData["Title"] = "Pedido";
    var pedido = (dynamic)ViewData["pedidoDetalle"];
}

<h2 style="color: orange; font-weight: bold; font-size: 3rem;">Pedido</h2>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Mesa @pedido.NumeroMesa</h5>
        <p class="card-text">Empleado: @pedido.NombreEmpleado</p>
        <p class="card-text">Hora inicio: @pedido.Pedido.fechaHoraInicio.ToString("g")</p>
        <p class="card-text">Total: @pedido.Pedido.total.ToString("C")</p>
		<h3>Platillos:</h3>
		@{
			var primerPedidoId = ((IEnumerable<dynamic>)ViewData["listadetalle"]).FirstOrDefault()?.PedidoId;
			var itemsSeleccionados = ViewData["itemsSeleccionados"] as List<item>;

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>Producto</th>
						<th>Precio</th>
						<th>Acciones</th>

					</tr>
				</thead>
				<tbody>
					@if (itemsSeleccionados != null && itemsSeleccionados.Any())
					{
						<tr>
							<td colspan="4" class="bg-info text-white">
								<h4>Ítems Seleccionados</h4>
								<ul class="list-group">
									@foreach (var item in itemsSeleccionados)
									{
										<li class="list-group-item">@item.nombre</li>
									}
								</ul>
							</td>
						</tr>
					}

					@foreach (var detalle in (IEnumerable<dynamic>)ViewData["listadetalle"])
					{
						<tr>
							<td> <img src = "@detalle.Url_img"/> </td>
							<td>@detalle.Nombre</td>
							<td>$@detalle.Precio</td>
							<td>
								<a asp-controller="detalle_pedido"
								   asp-action="Edit"
								   asp-route-id="@detalle.PedidoId"
								   asp-route-subid="@detalle.subCategoria"
								   class="btn btn-warning text-white">
									Editar
								</a>
							</td>
						</tr>
					}
			</table>
		}
    </div>

</div>

<div class="mb-3">

    @Html.ActionLink("Añadir Platillos", "Menu", "detalle_pedido", new { id = pedido.Pedido.pedidoId }, new { @class = "btn btn-lg mt-3", style = "background-color: orange; color: white;" })

    <form asp-action="CerrarPedido" method="post" class="d-inline">
        <input type="hidden" name="pedidoId" value="@pedido.Pedido.pedidoId" />
        <button type="submit" class="btn btn-lg mt-3" style="background-color: orangered; color: white;">Cerrar pedido</button>
    </form>
</div>

<style>
	img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		margin-left: 10px;
	}
</style>
